
.cartoon {
  overflow: hidden;
  position: relative;
  height: 550px;
  width: 550px;
  border-radius: 10%;
}

@media only screen and (max-width: 600px) {

  .cartoon {
    width: 450px;
    border-radius: 0;
  }
} 

.cartoon div {
  position: absolute;
}

.sliding-background {
  z-index: -1;
  background: url("https://media.istockphoto.com/vectors/empty-city-streettrees-and-road-public-vector-id996384104?k=6&m=996384104&s=612x612&w=0&h=qDbXqVvIQV-OdccVxMR1iiudMmziJAdi4qQsAo1dBxA=") repeat-x;
  height: 600px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

.sliding-bk-png {
  z-index: -2;
  background: url("http://cliparts.co/cliparts/8Tx/Ko5/8TxKo56Gc.svg") repeat-x; 
}

@keyframes slide{
  0%{
    transform: translate3d(-1692px, 0, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}

.crest {
  border: 1px solid black;
  width: 0;
  height: 0;
}

.crest-one {
  top: 40px;
  left:300px;
  border-top: none;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid red;
}

.crest-two {
  top: 40px;
  left:240px;
  border-top: none;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid red;
}

.crest-three {
  top: 70px;
  left:340px;
  border-right: none;
  border-top: 35px solid transparent;
  border-left: 60px solid red;
  border-bottom: 35px solid transparent;
}

.crest-four {
  top: 120px;
  left:340px;
  border-right: none;
  border-top: 35px solid transparent;
  border-left: 60px solid red;
  border-bottom: 35px solid transparent;
}

.crest-five {
  top: 170px;
  left:340px;
  border-right: none;
  border-top: 35px solid transparent;
  border-left: 60px solid red;
  border-bottom: 35px solid transparent;
}

.head {
  top: 70px;
  left:120px;
  height: 250px;
  width: 250px;
  background-color: green;
  border-radius:30px;
  border: 4px solid darkgreen;
}

.eye {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  top: 240px;
}

.closed-eye {
  width: 30px;
  height: 5px;
  background: black;
  border-radius: 50%;
  top: 250px;
}

.eye-one {
  left:170px;
}

.eye-two {
  left:230px;
}

.pupil {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  top: 245px;
}

.pupil-one {
  left:175px;
}

.pupil-two {
  left:235px;
}

.cheek {
  width: 15px;
  height: 15px;
  background: pink;
  border-radius: 50%;
  top: 270px;
}

.cheek-one {
  left:170px;
}

.cheek-two {
  left:245px;
}

.smile {
  top: 265px;
  left:195px;
  height: 30px;
  width: 30px;
  border-bottom: 10px solid black;
  border-radius: 0px 0px 20px 18px; 
}

.tail {
  top: 320px;
  left:275px;
  height: 60px;
  width: 60px;
  border-bottom: 15px solid darkgreen;
  border-radius: 0px 0px 50px 10px; 
}

.body {
  top: 310px;
  left:200px;
  height: 80px;
  width: 100px;
  background-color: green;
  border-radius:45%;
}

.hand {
  width: 20px;
  height: 20px;
  background: darkgreen;
  border-radius: 50%;
  top: 330px;
}

.hand-one {
  left:250px;
}

.hand-two {
  left:220px; 
}