.p-head {
  background-color: lightblue;
  border: 4px solid lightsteelblue;
}

.p-body {
  background-color: lightblue;
  width: 100px;
  left: 180px;
}

.p-eye-one {
  left:220px;
}

.p-eye-two {
  left:280px;
}

.p-pupil-one {
  left:235px;
}

.p-pupil-two {
  left:285px;
}

.p-cheek-one {
  background-color: orange;
  left:215px;
}

.p-cheek-two {
  background-color: orange;
  left:300px;
}

.beak {
  top: 275px;
  left:250px;
  height: 12px;
  width: 35px;
  background-color: yellow;
  border-radius: 5px;
  border-top: 3px solid orange;
}

.belly {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  top: 355px;
  left: 205px;
}

.wing {
  z-index: -1;
  width: 20px;
  height: 40px;
  background: grey;
  border-radius: 45%;
}

.wing-one {
  top: 335px;
  left: 165px;
  transform: rotate(35deg);
}

.wing-two {
  top: 335px;
  left: 275px;
  transform: rotate(145deg);
}

.feet {
  border: 2px solid darkorange;
  width: 25px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  top: 375px;
}

.feet-one {
  left: 195px;
}

.feet-two {
  left: 255px;
}